.squareFull {
    background-color:aqua;
    margin: 10px;
}
.squareLeft {
    float: left;
    margin:10px;
    background-color:yellow;
}
.squareRight {
    background-color:lightgreen;
    margin: 10px;
    float: right;
}

.col-sm-4{
    background-color: lightgreen;
    color: black;
}

.col{
    background-color: indianred;
}
.partition{
    background-color: lightgrey;
    border-bottom-color: gray;
}
.row {
    background-color: darkblue;
    color: lightgrey;
}
h2 > a {
    float: right;
}
hr {
    height: 3px;
    background-color: gray;
}
.mywidth{
    width: 150px;
}