body {
    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
    background-color:#DEE5F2;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.pageHeader{
    height: 50px; 
    background-color:#2D63BE
}
.globalNavi{
    background-color: #DEE5F2;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    /* border-style: solid; */
}
.contents{
    /* margin-left: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    /* background-color#DEE5F2; */
    background-color:#ffffff;
    height: 800px;
}
.slipHeader{
    /* border-style: solid; */
    height: 350px;
    /* width: 1920px; */
}
.slipInfo{
    background-color: #ffffff;
    width: 55%;
    height:300px;
    float: left;
    /* border-style: solid; */
    padding-top: 10px;
    /* margin-left;: 5px; */
    /* margin-right: 5px; */
}
.statusInfo{
    padding-top: 10px;
    background-color:#ffffff;
    width: 42%;
    height:300px;
    /* margin-left: 5%; */
    float: right;
    /* border-style: solid; */

}
.tableArea{
    clear: both;
    background-color: #ffffff;
    /* border-style: solid; */
    white-space: nowrap;
    overflow: auto;
}
.mainTable{
    overflow: auto;
    /* white-space: nowrap; */
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    table-layout: fixed;
}
th {
    background-color: #F6F6F6;
    padding: 5px;
    white-space: normal;
}
td{
    padding: 5px;
}
.typeAlignLeft{
    text-align: left;
}
.typeAlignCenter{
    text-align: center;
}
.typeAlignRight{
    text-align: right;
}
.wfApp{
    background-color:#1AB068;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 70%;
    border-radius: 20px;
    color: white;
}
.wfWip{
    background-color:#2E63BE;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 70%;
    border-radius: 20px;
    color: white;
}

.account{
    width: 1260px;
}
.costCenter{
    min-width: 90px;
}
.notes{
    width: 200px;
}
.slipNum{
    min-width: 100px;
}
.wf{
    min-width: 100px;
}
.currency{
    width: 50px;
}
.amount{
    min-width: 140px;
}
.areaTitle{
    font-size: 120%;
}
.slipDetailArea{
    border-style: solid;
    border-width: 1px;
    border-color: #3F70C3;
    height: 250px;
    margin: 10px;
}
.statusDetailArea{
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    height: 250px;
    margin: 10px;
}
